target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath

*.log

# maven-shade writes this next to the module pom
dependency-reduced-pom.xml
